<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label> Enter yout URL</label>
                        <input type="text" class="form-control" id="originalURL" [(ngModel)]="shortURL.originalURL"
                            name="originalURL">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Shorten it!</button>

                </form>
            </div>
        </div>
    </div>
</div>